/* Submission for Web-D Event in Altius - 2 by Edu-Techs
Name  - Nilay Binjola | Altius ID - A2ET1113 */
/* Formatting CSS for Altius Project */

body
{
	margin-left: 0px;
	margin-top: 0px;
	background: #FFF3C3;
	background-image:url('images/background.jpg');
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position:bottom; 
	
}

a
{
	text-decoration: none;
	color: #B43104;
}

a:hover
{
	text-decoration:  none;
	color: #0404B4;
	text-shadow: 0 0px 5px #2E9AFE;
}

.wrapper
{
	width: 75%;
	box-shadow: 0 0 80px #000000;
	background: #ffffff;
	border-radius: 15px;
	-moz-box-shadow: 0 0 80px #000000;
	-moz-border-radius: 15px;
	opacity: 0.9;
	margin: auto;
	border: 5px outset #BDBDBD; 
	padding: 5px;
}

.bannerBar
{
	display: inline-block;
	width: 100%;
}

.leftBannerColumn
{
	margin: auto;
	width: 25%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.rightBannerColumn
{
	width: 72%;
	display: inline-block;
	margin: auto;
	vertical-align: middle;
	text-indent: 80px;
	border-bottom-style: dashed;
	border-color: #6E6E6E;
}

#bannerTitle
{
	text-shadow: 0 10px 30px #0000FF, 0 15px 30px #DF013A;
	color: #000000;
	font-weight: bold;
	font-size: 50px;
}

.navBar
{
	width: 25%;
	margin:auto;
	display: inline-block;
	vertical-align: top;
	border-right-style: dashed;
	border-color: #6E6E6E;
}

#navBarLinkImage
{
	margin: auto;
	display: inline-block;
	text-align: center;
	box-shadow: 0 0 15px #000000;
	-moz-box-shadow: 0 0 15px #000000;
}

#navBarLinkImage:hover
{
	opacity: 0.5;
}

hr
{
	border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.navBarLinks
{
	font-weight: bold;
	font-size: 23px;
	font-family: "Arial Narrow";
	background: #CEE3F6;
	border-radius: 7px;
	width: 80%;
	margin: auto;
	-moz-border-radius: 7px;
}

li
{
	padding: 5px;
}

.contentBody
{
	display: inline-block;
	margin-top: -25px;
	margin-left: 25px;
	width: 70%;	
}

#marqueeFooter
{
	border-top-style: dashed;
	border-color: #6E6E6E;
	color: #585858;
	font-weight: bold;
}
.footer
{
	display: inline-block;
	width: 100%;
	margin: auto;
	text-align: center;
	color: #6E6E6E
}

#gallery
{
	box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	padding: 10px 5px 25px 5px;
	border: 1px solid #ffffff;
	border: 1px;
}
#gallery:hover
{
	opacity: 0.5;
}
/* Submission for Web-D Event in Altius - 2 by Edu-Techs
Name  - Nilay Binjola | Altius ID - A2ET1113 */